body{
	background-color: white;
}

h1{
	font-size: 45px;
	font-weight: bold;
	text-align: center;
	margin: 10px auto;
}

body p{
	color: red;
	font-size: 30px;
	text-align: center;
	margin: 10px auto;
}

img{
	display: block;
	margin: 10px auto;
}

#page_footer p{
	color: green;
	font-size: 20;
	text-align: center;
	margin: 10px auto;
}