body{
	background-color: #e9eabd;
	background-image: url("pics/longhorn.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    opacity: 0.9;
	filter: alpha(opacity=90);
}

h1{
	font-size: 45px;
	font-weight: bold;
	text-align: center;
	margin: 10px auto;
}

#caption{
	color: red;
	font-size: 30px;
	text-align: center;
	margin: 10px auto;
}

#bio{
	color: black;
	font-size: 24px;
	font-family: courier;
	font-weight: bold;
	line-height: 2.5;
	text-indent: 50px
	margin: 0, 0, 24px;
}

#page_footer #longhorn{
	opacity: 0.4;
	filter: alpha(opacity=40);
	display: block;
	width: 10%;
	height: 10%;
	margin: 10px auto;
}

#page_footer p{
	color: green;
	font-size: 20;
	text-align: center;
	margin: 10px auto;
}